* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

div {
  display: block;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}


.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.carousel-caption {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 11%;
    text-align: center;
}

.carousel-caption .txt1 {
    font-size: 40px;    
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;    
    line-height: 1;
    color: #fff;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
    letter-spacing: 4px;
}

.carousel-caption .txt2 {
    font-family: 'Courgette', cursive;   
    font-weight: 500;    
    font-size: 22px;
    line-height: 1;
    color: #fff;
    padding-bottom: 30px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);    
    letter-spacing: 1px;
}

.carousel-caption .btn {
    border: 1px solid #FFF;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1;
    font-size: 11px;
    padding: 20px 30px;
    background: #fff;
    color: #000;
    border-radius: 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-out;    
}

.carousel-caption .btn:hover {
color: #fff;
background: #000;
transition: 0.4 ease;
}

.carousel-caption .slider-logo {
  height: 124px;
  background: url(../images/slider-logo.png) center center no-repeat;
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

.we-are {
    background: #fff;
    padding: 100px 0 80px;
}

.title1 {
    padding: 0 0 20px;
    margin: 15px 0 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #35373e;
    font-weight: 600;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: url(../images/kand1.png) center bottom no-repeat;
}

.title2 {
    text-align: center;
    color: #777777;
    font-family: 'Courgette', cursive;  
    font-size: 18px;
    margin-bottom: 30px;
}

.visible {
    visibility: visible;
}

